:root {
    /* 為了要做 RGBA 的 alpha 變換，必須提供純數字形式的 rgb 值。用法: rgba(var(--hover-bg-rgb), 0.1) */
    --hover-bg-rgb: 128,128,128;
    --completed: rgb(132,204,22);
    --partial: rgb(229,208,86);
    --incompleted: #999;
}


input + span {
    color: var(--incompleted);
}

input:checked + span {
    color: var(--completed);
}

input:indeterminate + span {
    color: var(--partial);
}

.example {
    .incompleted {
        color: var(--incompleted);
    }
    .completed {
        color: var(--completed);
    }
    .partial {
        color: var(--partial);
    }
}
/* 
input:not(:checked) + span {
    color: var(--incomplete);
} */

#roadmap-wrapper {
    display: flex;


}
.node-act-btn {
    display: none;
}
.editor-mode {
    .node-act-btn {
        display: block;
    }
}

.json-container {
    textarea.dark {
        padding: 0.5rem;
        font-family: monospace;
        font-size: small; 
        color-scheme: dark;
        background-color: #333;
    }
}

.roadmap-container {

    width: fit-content;

    input[type='checkbox'] {
        margin: 0 0.5rem;
    }
    ul {
        margin-left: 1rem;

        li {
            margin: 0.25rem 0;
            padding: 0.25rem 0;
            &:hover {
               background-color: rgba(var(--hover-bg-rgb), 0.05);
            }

            .node {
                display: flex;
                justify-content: space-between;
                gap: 1.5rem;
                label {
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    /* gap: 0.5rem; */
                    
                }


                
            }

            ul.children {
                max-height: 1000px;
                opacity: 1;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;
                transition-property: max-height, opacity;        
            }
            .node-btn {
                padding: 0 0.5rem;
            }
            .collapse-toggler {
                transition: 200ms transform ease-in-out;
            }
            &.collapsed {
                .collapsed-text {
                    opacity: 0.5;
                }
                .collapse-toggler {
                    transform: rotate(-90deg);
                }
                ul.children {
                    pointer-events: none;
                    max-height: 0;
                    opacity: 0;
                }
        
                .data-grid {
                    display: none;
                }
            }
        }
    }
}

#edit-modal {
    input.node-path {

    }
}