:root {
    --grid-border: 1px solid #9c9c9c;
    --grid-bg: #333;

    --grid-row-header-bg: #2a2a2a;
    --grid-row-header-color: #777;

    --grid-header-bg: #212223;
    --grid-header-color: #c5c5c5;

    --grid-weekday-row-color: #acacac;
}
body {
    background-color: #212223; 
    color: #c5c5c5;
    padding: 0 ;

    color-scheme: dark;
    user-select: none;
}

.noto-sans-tc-a1 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* 多筆的容器 */
div#grids-container {
    padding: 2rem;
}


table.data-grid {
    width: 100%;
    border: var(--grid-border);
    border-collapse: collapse;
    margin-bottom: 2rem;
    background-color: var(--grid-bg);


    th, td {
        border: var(--grid-border);
        
    }

    th {
        padding: 1rem;
    }

    td {
        .task {
            margin: 0.5rem;
        }
    }

    tr {
        th:first-child {
            /*transform: rotate(-90deg);*/
            user-select: none;
            padding: .5rem 1rem;
            max-width: 3rem;
            background-color: var(--grid-row-header-bg);
            color: var(--grid-row-header-color);
        }

        &.month-row {
           
            th:not(:first-child) {
                background-color: var(--grid-header-bg);
            }
        }

        &.weekday-row {
            th:not(:first-child) {
                color: var(--grid-weekday-row-color);
            }
        }

    }

    tr {
        td {
            .task {
                
               
                height: 100%;
                padding: 1rem;
                // border: 1px solid red;

                .collapsible {
                    margin-right: 0.5rem;
                    color: inherit;
                    transition-duration: 200ms;
                    transition-timing-function: ease-in-out;
                    transition-property: transform, color;

                    transform: rotate(-90deg);
                }

                .title-row {
                    user-select: none;
                    cursor: pointer;
                }

                .task-list {
                    overflow: hidden;
                    max-height: 0;
                    padding: 0 1rem;
                    

                    transition-duration: 200ms;
                    transition-timing-function: ease-in-out;
                    transition-property: max-height, opacity;

                    /* display: flex;
                    gap: 0.5rem;
                    flex-wrap: wrap; */
                    opacity: 0;
                    font-weight: 200;
                    padding-left: 1rem;

                    &>div {
                        cursor: default;
                        user-select: none;
                        border-radius: 00.5rem;
                        padding: 0.2rem 1rem;

                        &.canceled {
                            text-decoration: line-through;
                            opacity: 0.75;
                            &:hover {
                                opacity: 1;
                            }
                        }

                        transition-property: background-color, opacity;
                        transition-duration: 100ms;
                        transition-timing-function: ease-in-out;
                        
                        &:hover {
                            background-color: #444;

                        }
                    }
                }

                &.expanded {
                    .collapsible {
                        transform: rotate(0deg);
                        color: #e1f917;
                    }

                    .task-list {
                        max-height: 1000px;
                        opacity: 1;

                        // padding: 1rem;
                    }
                }
            }
        }
    }

    .r-90 {
        transform: rotate(90deg);
    }
    .r-180 {
        transform: rotate(180deg);
    }
    .r-270 {
        transform: rotate(270deg);
    }

    td.blank {
        background-color:transparent;
    }

    td.recruitment {
        background-color: #464646;
    }
    td.deploy {
        background-color: #39396c;
    }
    
    td.ui-1,td.ui-2,td.ui-3, td.dev-1, td.dev-2, td.dev-3, td.api, td.cloud-design {
        color: #fff;
    }

    td.not-sure {
        
        opacity: 0.5;
        .task {
            border: 3px dotted #ccc;
        }
    }

    td.ui-1 {
        background-color: rgb(45, 145, 212);
    }
    td.ui-2 {
        background-color: rgb(236, 172, 51);
    }
    td.ui-3 {
        background-color: rgb(192, 41, 172);
    }

    td.dev-1 {
        background-color: rgb(14, 76, 112);
    }
    td.dev-2 {
        background-color: rgb(163, 112, 17);
    }
    td.dev-3 {
        background-color: rgb(155, 26, 101);
    }

    td.api {
        background-color: #343e49;
    }
    td.course-update {
        background-color: rgb(0, 95, 5);
    }
    td.cloud-design {
        background-color: rgb(0, 160, 152);
    }

    
    td:has(.task) {
        opacity: 0.75;
        transition: 100ms opacity ease-in-out;
        &:hover {
            opacity: 1;
        }
    }

}


.grid-wrapper {
    user-select: none;
    /* 單筆的容器 */
    .grid-container {
        max-height: 1000px;
        opacity: 1;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        transition-property: max-height, opacity;

    }
    .grid-collapsed-row {
        cursor: pointer;
        padding: 0.5rem 0;
        user-select: none;
    }
    .collapsed-text {
        opacity: 0;
        border: 1px solid #999;
        padding: 0 0.5rem;
        transition: opacity 200ms ease-in-out;
    }
    .collapse-toggler {
        user-select: none;
        transform: rotate(0deg);
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
        transition-property: transform;
    }


    &.collapsed {
        .collapsed-text {
            opacity: 0.5;
        }
        .collapse-toggler {
            transform: rotate(-90deg);
        }
        .grid-container {
            max-height: 0;
            opacity: 0;
        }

        .data-grid {
            display: none;
        }
    }

}
